<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        .square {
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }

        /* .bg-red {
            background-color: red;
        }

        .bg-blue {
            background-color: blue;
        }

        .bg-green {
            background-color: green;
        } */
    </style>
</head>

<body>
    <div id="app">
        <!-- <div class="square" @click="handleRed = !handleRed" :class="{'bg-red': handleRed}"></div>
        <div class="square" :class="{'bg-red': handleRed}"></div>
        <div class="square" :class="[color, {'bg-red': handleRed}]"></div> -->

        <div class="square" :style="{backgroundColor: color}"></div>
        <div class="square" :style="customStyles"></div>
        <div class="square" :style="[customStyles, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color" />
        <input type="text" v-model="width" />
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                // handleRed: false,
                // color: 'bg-green',
                color: 'gray',
                width: 100,
            },
            watch: {

            },
            computed: {
                // divClasses: function() {
                //     return {
                //         'bg-red': this.handleRed,
                //         'bg-green': !this.handleRed
                //     }
                // },
                customStyles: function () {
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px',
                    }
                }
            },
            methods: {

            }
        });
    </script>

</body>

</html>