<h1>Insurance Policy Management</h1>
<div>
    <table border="1" width='100%' style="border-collapse: collapse;">
        <tr>
            <td>ID</td>
            <td>Policy Number</td>
            <td>Policy Amount</td>
            <td>Operations</td>
        </tr>

        <tr *ngFor="let item of policies">
            <td>{{item.id}}</td>
            <td>{{item.number}}</td>
            <td>{{item.amount}}</td>
            <td>
                <button (click)="deletePolicy(item.id)">Delete</button>
                <button (click)="selectPolicy(item)">Update</button>
            </td>
        </tr>
    </table>
</div>

<br>

<form #f="ngForm">
    <label>Number</label>
    <input type="text" name="number" [(ngModel)]="selectedPolicy.number">
    <br>
    <label>Amount</label>
    <input type="text" name="amount" [(ngModel)]="selectedPolicy.amount">
    <br>
    <input type="button" (click)="createOrUpdatePolicy(f)" value="Create or Update Policy">
</form>