.ng-select.ng-select-single .ng-select-container {
  height: 30px !important;
}

.ng-select .ng-select-container {
  min-height: 30px !important;
}

.ng-clear-wrapper {
  display: none;
}

.ng-select.ng-select-single .ng-select-container {
  border-radius: 3px !important;
  border: 1px solid #a6a6a6;
}

.is-readonly {
  pointer-events: none;

  >div {
    background-color: #eee !important;
  }
}
